*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {text-decoration: none; text-decoration:none; color: black;}
ul,ol,li {list-style: none; }
h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: inherit;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

html,
body {
	line-height: 1.5rem;
}
body{
	font-family: Inter, sans-serif;
	background-color: #fff;
	font-weight: 300;
}
.wrapper{
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	min-height: 100vh;
	margin: 0rem auto;
}

header{
	display: flex;
}
.my-photo{
	box-shadow:0 0 15px rgb(80, 73, 73);
	border-radius: 50%;
}
.myimg{
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #FAFAFA;
	width: 40%;
}
.myimg img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.name{
	width: 60%;
	padding:6rem 0rem 0rem 2rem;
}
.name h1{
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
}
.name h2{
	font-size: 1.5rem;
	font-weight: 500;
}


main{
	display: flex;
	flex: 1 1 auto;
}
aside{
	background-color: #FAFAFA;
	padding: 0rem 2rem;
	width: 40%;
}
.main{
	width: 60%;
	padding:0rem 2rem 1rem 2rem;
}
.section__nav{
	letter-spacing: 0.05em;
}
.section__nav a:hover{
	text-decoration: underline;
	color:rgb(28, 136, 219);
	transition: color 0.5s;
}
.section__nav p:not(:last-child){
	margin-bottom: 0.8rem;
}
.section__header{
	display: flex;
   justify-content: flex-start;
   align-items: baseline;
   margin: 10px 0 20px;
   padding: 10px 0;
	border-bottom: 1px solid #6D7081;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 0.05em;
}
.about__me{
	text-align: justify;
}
.about__me p{
	margin-bottom: 0.8rem;
}
.section__link{
	position: relative;
}
.section__list{
	padding-left: 1.5rem;
}
.section__link::before{
	position: absolute;
	content: "";
	display: block;
   top: 6px;
   left: -1.5rem;
   width: 8px;
   height: 8px;
   background-color: rgb(28, 136, 219);
   border-radius: 50%;
}
.skills__block h4{
	width: 7rem;
	margin-right: 2rem;
	text-transform: uppercase;
}
.skills__block:not(:last-child){
	margin-bottom: 0.8rem;
}
.skills__block span{
	font-size: 0.8rem;
}
.skills__block{
	display: flex;
}
.skills__list{
	display: flex;
	align-items: center;
}
.skills__item {
	width: 10px;
	height: 10px;
	background-color: rgb(28, 136, 219);
	border-radius: 50%;
	margin-right: 5px;
	transition: all 0.3s linear;
}
.skills__item:hover{
	transform: scale(1.3);
}
.skills__item:last-child{
	margin-right: 0;
}
.item__gray {
	background-color: #f1e9e9;
}
.grid{
	display: flex;
	justify-content: space-between;
}
.grid__block{
	transition: all 0.3s linear;
}
.grid__block:hover{
	box-shadow:0 0 15px rgb(80, 73, 73);
	transform: scale(0.9);
}
.code__example pre{
	padding-top: 0;
}
footer{
	background-color: #FAFAFA;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
}
footer img{
	transition: all 0.3s linear;
}
footer img:hover{
	transform: scale(1.2);
}